.nav-bg {
    background-color: #16697a;
}

.person-container {
    background-color: #82c0cc;
}

.about-container {
    background-color: #ffa69e;
}

.footer-container {
    background-color: #aed9e0;
}